<app-header></app-header>
<app-sidenav></app-sidenav>
<div id="content" class="app-content" role="main">
    <div class="app-content-body ">
      <div class="bg-white b-b-none wrapper-md main">
        <div class="row">
          <div class="col-sm-6 col-xs-6">
            <h4 class="m-n font-bold ">Collection Center  List</h4>
          </div>
          <div class="col-sm-6 text-right poppins hidden-xs">
            <button routerLink="/collection" class="button"><i
            class="fa fa-plus"></i> Add Collection Center</button>
          </div>
        </div>
      </div>

      <kendo-grid
      [kendoGridBinding]="gridView"
      kendoGridSelectBy="id"
      [selectedKeys]="mySelection"
      [pageSize]="20"
      [pageable]="true"
      [sortable]="true"
      [reorderable]="true"
      [resizable]="true"
      [height]="500"
      [columnMenu]="{ filter: true }"
    >
      <ng-template kendoGridToolbarTemplate>
        <input
          placeholder="Search in all columns..."
          kendoTextBox
          (input)="onFilter($event)"
          />
        <kendo-grid-spacer></kendo-grid-spacer>
      </ng-template>

      <kendo-grid-column field="collection_center_id " title="Collection Center Details" [width]="100">
        <ng-template kendoGridCellTemplate let-dataItem>
          <div class="text-theme"># {{dataItem.collection_center_id}}</div>
         
          <div class="collection_center_name ">{{dataItem.collection_center_name}}</div>
            <div class="type_collection_center">Type  : {{dataItem.type_collection_center}}</div>
            <div class="collection_type">Collection  : {{dataItem.collection_type}}</div>
            
        </ng-template>
      </kendo-grid-column>

        <kendo-grid-column  title="ULB Details" [width]="100">
          <ng-template kendoGridCellTemplate let-dataItem>
           
           
            <div class="collection_type">{{dataItem.ulbdata[0].ulb_name}}</div>
            <div class="collection_type">State : {{dataItem.ulbdata[0].state }}</div>
          </ng-template>
        </kendo-grid-column>


        <kendo-grid-column field="State " [width]="100">
          <ng-template kendoGridCellTemplate let-dataItem>
            <div class="text-capitalize">State : {{dataItem.collection_state | lowercase}}</div>
            <div class="collection_district">City : {{dataItem.collection_district}}</div>
            
          </ng-template>
        </kendo-grid-column>

        <kendo-grid-column field="contact" title="Contact" [width]="100">
         <ng-template kendoGridCellTemplate let-dataItem>
           <div class="first_name-name"><i class="fa fa-user" aria-hidden="true"></i>{{ dataItem.first_name + " "+ dataItem.last_name }}</div>
           <div class="mobile"><i class="fa fa-phone" aria-hidden="true"></i> {{ dataItem.mobile }}</div>
           <div class="email"><i class="fa fa-envelope" aria-hidden="true"></i> {{ dataItem. email }}</div>
         </ng-template>
       </kendo-grid-column>


       <kendo-grid-column title="Action" [width]="100" [class]="{ 'text-center': true }" [resizable]="false"
       [filterable]="false">
       <ng-template kendoGridCellTemplate let-collectioncenter>
         <kendo-menu>
           <kendo-menu-item icon="gear">
             <kendo-menu-item text="Edit" icon="edit" url="edit-collectioncenter/{{ collectioncenter._id }}"> </kendo-menu-item>
 
           </kendo-menu-item>
         </kendo-menu>
       </ng-template>
     </kendo-grid-column>
    </kendo-grid>

</div>
</div>
