<style>
  body{
    background: #F9F9F9;
  }
    .outer{
  margin-top: 10% ;
  margin-left:7%;
  }
  .shield{
    padding-top: 3%;
      font-size: 34px;
      color: black;
   
  }  
  
  .inner1{
    color: black;
  }
  .top-img{
    padding: 0px;
  }
  .top-img img{
   height: 80px;
  }
  .mid1{
    padding:0px;
    font-size:25px;
   
  }
  .heding{
      font-size: 35px;
      font-weight: bold;
      font-family:Franklin Gothic;
      padding: 0px;
      color: black;
  }
  .mid2 img{
  height:160px;
  padding: 0px;
    margin-left: -170px;
    position: absolute;
   top:-40px;
  }
  .logo{
  
  margin-top:8%;
  padding: 0px;
  margin-right: 0px;
  }
  .logo1{
  padding-left:.7%;
  }
  .logo1 img{
  height:50px;
  }
  .icon {
    font-size: 10px;
    margin-left: -6%;
  }
  .txt{
    font-size: 16px;
  }
  .icon img {
    height: 12px;
   
  }
  .box1{
      height: 60px;
      border-radius: 10px;
      background:white;
      font-size: 38px;
      font-weight: bold;
      padding-top: .8%;
      width: 163px;
      
  }
 
  
  .box2{
      height:290px;
      background: white;
      border-radius: 10px;
      margin-top: 2%; 
      padding-top:3%; 
  }
  
  .copyright{
    border:1px solid #BFBFBF;
    margin-top:4%;
   margin-left:none;
  border-radius: 8px;
  font-size: 12px;
  height: 20px;
  padding-top: .4%;
  text-align: center;
    
  }
  h1{
    font-weight: bold;
    font-size: 33px;
  
  }
  .input{
  border-radius: 6px; 
  background:#F5F5F5 ; 
  height: 42px;
  }
  .btn{
  
  font-size: 12px;
   background:white;
   color:red;
   border:1px solid red;
   border-radius: 5px;
   height: 42px;
  }
  
  @media screen and (max-width: 1024px) {
  .mid2 img{
        margin-left: -90px;
  
  }
  .box2{
    height:305px;
  }
  .box1 {
    width: 160px;
  } 
  .copyright{
    border:1px solid #BFBFBF;
     font-size: 9px;
     padding-top: .7%; 
  }
  .logo{
  margin-top:10%;
  }
  .box1 img{
    margin-left: 5%;
  }
  .abc{
    margin-left:7%;
  }
  .btn{
      font-size: 9px;
  }
  } 
  
  @media screen and (max-width: 769px) {
    .inner1 {display:none;}
  
  .inner2{
      display: block;
      width: 870px;
  }
  .box2{
    height:353px;
  }
  }
  @media screen and (max-width: 425px) {
  .inner1 {display:none;}
  .inner2 {display:block;}
  .box2{
      width: 255px;  
      height: 376px;
      margin-bottom: 5%;
  }  
  .txt{
    font-size: 15px;
  }  
  }
  </style>
  <body >
  <!-- content1 -->
  <div class="container">
    <!-- <div class="col-md-1"></div> -->
        <div class="col-md-12 outer">
      <div class="col-md-6 inner1">
          <div class="12">
            <div class="col-md-4 top-img"><img src="assets/asset/img/Group 458.png"></div>
            <div class="col-md-10 mid1"> <p class="heding">WELCOME BACK !</p>
                <p>Experience the all new digital transformation</p>
                </div>
                <div class="col-md-2 mid2"><img src="assets/asset/img/Group 560.png" ></div>
          </div>
          <div class="row">
          <div class="col-sm-12 logo">
           
            <div class="col-sm-4 logo1"><img src="assets/asset/img/red.png"></div>
            <div class="col-sm-1  abc"><img src="assets/asset/img/Line 1.png" height="60px"></div>
            
              <div class="col-sm-5 icon" >
                <img src="assets/asset/img/Icon awesome-info-circle.png" > info@troology.com<br>
                <img src="assets/asset/img/Icon ionic-md-help-circle.png" > Support@troology.com<br>
                <img src="assets/asset/img/Icon awesome-headset.png" >1800 11 123
                <br> <img src="assets/asset/img/Path 48.png" > www.troology.com
              </div>
             
          </div>
        
             
         </div>
         <div class="col-md-10 copyright">
            COPYRIGHT &copy; 2021 TROOLOGY TECHNOLOGIES .ALL RIGHTS RESERVED
         </div>
       
        
      </div>
    <div class="col-sm-6 inner2">
      <div class="col-sm-12 box">
        <div class="col-sm-4 box1"><b style="color:#018105">Re</b>Kart</div>
     <div class="col-sm-12 " style="padding: 0px;margin: 0px;">
      
         <div class="col-sm-8 box2" >
          <div class="col-sm-12"  style="padding: 0px;margin: 0px; display:flex;justify-content:space-between;margin-top: 2%;" ><b style="font-size: 38px;font-weight: bold;color: black;">Log in</b>
            <i class="fa fa-shield  shield" aria-hidden="true"></i>
            </div>
        
          <div class="col-sm-12" style="padding: 0px;margin: 0px;"><p class="txt"> This is secure system and you will need to provide your login details to access.</p></div>
          
         
         <form [formGroup]="checkoutForm"> 
          <div class="row">
          <div class="col-md-12 form-group" >
            <input type="text"  ng-disabled="disabled" class="form-control input" id="username" placeholder="Username" formControlName="email"  >
          </div>
          <div class="col-md-12 form-group" *ngIf="displaypassword && display">
            <input type="password"  class="form-control " placeholder="Password" formControlName="password">
          </div>
        
          <!-- <div class="col-md-12 form-group" style="display:flex;justify-content:space-between; margin-top: 1%;">
            <span><input type="checkbox"> Remember me</span>
            <span>Forgot Password</span>
          </div> -->
          <div class="col-md-6 form-group" *ngIf="!display">
            <button  type="submit" (click)="CheckEmail('password')" class="form-control btn "  >
              Login Via Password
              </button>
              <button hidden [swal]="['yeahhh!', 'clicked ', 'success']">Click me</button>
          </div>
          <div class="col-md-6 form-group"  *ngIf="!display">
            <button   (click)="CheckEmail('otp')" class="form-control btn" 
              >
              Login Via OTP
            </button>
          </div>
          <div class="col-md-6 form-group"  *ngIf="display && displaypassword">
            <button  type="button" (click)="SubmitLogin();" class="form-control "
              style="font-size: 13px;background:white;color:red;border:1px solid red;border-radius: 5px;">
            Submit
            </button>
          </div>
          <div class="col-md-6 form-group"  *ngIf="display && displayotp">
            <button  type="button" (click)="SubmitOtp();" class="form-control "
              style="font-size: 13px;background:white;color:#018105;border:1px solid #018105;border-radius: 5px;">
            Submit Otp
            </button>
          </div>
        </div>
        </form>
    
          </div> 
         
  
      </div> 
     
    </div>
    <!-- <p style="text-align:center;">Are you a new user?<a href="#" style="color:red;"><u>Register Now!</u></a></p> -->
    </div>
  
   </div>
              <!-- <div class="col-md-1"></div> -->
          </div>
       
  
  
  </body>
  
  