<app-header></app-header>
<app-sidenav></app-sidenav>
<div id="content" class="app-content" role="main">
    <div class="app-content-body ">
      <div class="bg-white b-b-none wrapper-md main">
        <div class="row">
          <div class="col-sm-6 ">
            <h4 class="m-n font-bold ">Collection & Disposal Execution List</h4>
          </div>
          <div class="col-sm-6 text-right poppins hidden-xs">
            <button routerLink="/disposal-execution" class="button"><i
              class="fa fa-plus"></i> Add Collection & Disposal Execution</button>
          </div>
        </div>
      </div>
  

      <kendo-grid
      [kendoGridBinding]="gridView"
      kendoGridSelectBy="id"
      [selectedKeys]="mySelection"
      [pageSize]="20"
      [pageable]="true"
      [sortable]="true"
      [reorderable]="true"
      [resizable]="true"
      [height]="500"
      [columnMenu]="{ filter: true }">
      <ng-template kendoGridToolbarTemplate>
        <input
          placeholder="Search in all columns..."
          kendoTextBox
          (input)="onFilter($event)"
          />
      <kendo-grid-spacer></kendo-grid-spacer>
      
      </ng-template>
      
      
        <kendo-grid-column  title="Material Details" [width]="100">
          <ng-template kendoGridCellTemplate let-dataItem>
           
            <div class="cd"><b>Material  :</b> {{dataItem.material_name}}</div>
            <div class="cd"> <b>State :</b> {{dataItem.state}}</div>
            <div class="cd"><b>City :</b> {{dataItem.city}}</div>
          </ng-template>
        </kendo-grid-column>
        
        
          

        <kendo-grid-column title="C&D"  [width]="150">
          <ng-template kendoGridCellTemplate let-dataItem>
           
            <!-- <div class="cd">ULB : {{dataItem.ulb}}</div> -->
            <div class="cd"><b>ULB :</b> {{dataItem.ulbdata[0].ulb_name}}</div>
            <div class="cd"><b>Collection :</b> {{dataItem.c_c_data[0].collection_center_name}}</div>
            <!-- <div class="cd">Collection Center : {{dataItem.collection_center}}</div> -->
            <div class="cd"><b>Disposal :</b> {{dataItem.disposal_f_data[0].disposal_company_name}}</div>
           
          </ng-template>
      </kendo-grid-column>


   

 
      
     
  <kendo-grid-column  title="Transporter Details" [width]="110">
    <ng-template kendoGridCellTemplate let-dataItem>
     
      <div class="cd"><b>Transporter  : </b>{{dataItem.transporter_name}}</div>
      <div class="cd"><b>Mobile :</b> {{dataItem.mobile_no}}</div>
      <div class="cd"><b>Vehicle  :</b> {{dataItem.vehicle_no}}</div>
      <div class="cd"><b>Driver :</b> {{dataItem.driver_name}}</div>
     
     
    </ng-template>
</kendo-grid-column>  

<kendo-grid-column  title="Collection Date " [width]="100">
  <ng-template kendoGridCellTemplate let-dataItem>
   
    <div class="cd"><i _ngcontent-fcn-c561="" aria-hidden="true" class="fa fa-calendar-check-o" style="color: green;"></i><b> Date :</b>  {{dataItem.collection_date_time |date:'dd-MM-yyyy'}}</div>
    <div class="cd"><b>Weight :</b>{{dataItem.collection_material_weight}} (kg)</div>
   
   
  </ng-template>
</kendo-grid-column> 
      

<kendo-grid-column  title="Disposal Date " [width]="130">
  <ng-template kendoGridCellTemplate let-dataItem>
   
    <div class="cd"><i _ngcontent-fcn-c561="" aria-hidden="true" class="fa fa-calendar-check-o" style="color: green;"></i> <b> Date :</b>   {{dataItem.disposal_date_time |date:'dd-MM-yyyy'}}</div>
    <div class="cd"><b>Weight :</b>{{dataItem.disposal_material_weight}} (kg)</div>
   
   
  </ng-template>
</kendo-grid-column> 
      

       <kendo-grid-column
       title="Action"
       [width]="100"
       [class]="{ 'text-center': true }"
       [resizable]="false"
       [filterable]="false"
      >
       <ng-template kendoGridCellTemplate let-disposalexecution>
        <kendo-menu>
          <kendo-menu-item icon="gear">
            <kendo-menu-item text="Edit" url="/edit-disposal-execution/{{disposalexecution._id }}"icon="edit"> </kendo-menu-item>
           
          </kendo-menu-item>
         
        </kendo-menu>
       </ng-template>
      </kendo-grid-column>
      </kendo-grid>
</div></div>