<app-header></app-header>
<app-sidenav></app-sidenav>
<div id="content" class="app-content" role="main">
  <div class="app-content-body ">
    <div class="bg-white b-b-none wrapper-md main">
      <div class="row">
        <div class="col-sm-6 ">
          <h4 class="m-n font-bold ">Order/PO Allotment</h4>
        </div>
        <div class="col-sm-6 text-right poppins hidden-xs">
          <!-- <a href="/order" class="btn m-b-xs btn-sm text-10 btn-info btn-3d add-role-model"><i class="fa fa-plus"></i>
            Add Order/PO</a> -->
        </div>
      </div>
    </div>
    <div class="col-sm-12 t-div">
    <div class="col-sm-6 t-div1" > <table class="table" >
      <thead >
      <tr style="text-align:center;font-weight: bold;" >
        <td colspan="4" > <p style="font-size: 19px;font-weight: bold;color: green;">PO Details</p></td>
     </tr>
         </thead>
       
     
      <tbody>
        
        <tr>
          <th >PO ID: </th>
          <td>#{{ allPO.PO_id }}</td>
        
          <th >PO Date:</th>
          <td>{{ allPO.created_at|date:'dd-MM-yyyy' }}</td>

          
        </tr>
        
       
      
     
        <tr>
          <th >Material: </th>
          <td>{{ podata.materialAllot }}</td>
        
          <th >Total Qty:</th>
          <td>{{ totalmaterialqty }}</td>
        </tr>
        <tr>
          <th >Achieved Qty: </th>
          <td>{{ totalmaterialqtyachieved }}</td>
        
          <th >Balance Qty:</th>
          <td>{{ totalbalances }}</td>
        </tr>
      </tbody>
    </table></div>
  
    <div class="col-sm-6 t-div2"> 
      <table class="table"  >
      <thead class=
      'top'>
      <tr style="text-align:center;font-weight: bold;" >
        <td colspan="4" > <p style="font-size: 19px;font-weight: bold;color: green;">Customer Details</p></td>
     </tr>
         </thead>
     
     
      <tbody>
         
        <tr>
          <th >Organization: </th>
          <td> {{ allPO.customer_data[0].organization_name }}</td>
        
          <th >Industry:</th>
          <td>{{ allPO.customer_data[0].industry_type }}</td>
        </tr>
        
       
      
     
        <tr>
          <th >Name: </th>
          <td> {{ allPO.customer_data[0].first_name  + " "+ allPO.customer_data[0].last_name}}</td>
        
          <th >Mobile : </th>
          <td>{{ allPO.customer_data[0].mobile }}</td>
        </tr>
        <tr>
          <th >CPCB :  </th>
          <td>{{ allPO.customer_data[0].cpcb_registration }} | <i _ngcontent-fcn-c561="" aria-hidden="true" class="fa fa-calendar-check-o" style="color: green;"></i> {{ allPO.customer_data[0].cpcb_validity |date:'dd-MM-yyyy' }} </td>
        
          <th >SPCB: </th>
          <td>{{ allPO.customer_data[0].spcb_registration }}  | <i _ngcontent-fcn-c561="" aria-hidden="true" class="fa fa-calendar-check-o" style="color: green;"></i> {{ allPO.customer_data[0].spcb_validity |date:'dd-MM-yyyy' }}</td>
        </tr>
      </tbody>
    </table></div>
  
  </div>
   

    <div class="col-sm-12 ">
    <table datatable class="table table-striped">
      <thead>
        <tr>
          <th>States</th>
          <th>Quantity</th>
          <th>Target Date</th>
          <th>Achieved Qty.</th>
          <th>Balance Qty</th>
          <th>Price</th>
          <th>Allotment</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of materialPO">
          <td>{{ item.state}}</td>
          <td>{{ item.collection_Qty}}</td>
          <td>{{ item.target_date}}</td>
          <td>{{ item.achieved_qty}}</td>
          <td>{{ totalbalances}}</td>
          <td>{{ item.net_unit_price }}</td>
          <td><button class="btn btn-success btn-xs" (click)="getallotmentstatewise(item._id,podata.materialAllot,item.state,item.collection_Qty,item.achieved_qty)">Allotment</button></td>
        </tr>
      </tbody>
    </table>
    </div>
    <div class="col-sm-12">
    <div *ngIf="allotmentstate!=false">
    <b style="font-size: 18px;">ALLOTMENT IN {{ allotmentstate }}</b>
    <table datatable class="table table-striped">
      <thead>
        <tr>
          <th>City</th>
          <th>Collection Qty</th>
          <th>Disposed Qty</th>
          <th>Alloted Qty</th>
          <th>Vehicle No</th>
          <th>E-Way Bill No</th>
          <th>Bucket</th>
          <th>Qty</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of disposalallotment; index as i">
          <td>{{ item.city}}</td>
          <td>
            {{ item.collection_material_weight}}<br/>
            {{ item.collection_date_time|date:'dd-MM-yyyy' }}
          </td>
          <td>
            {{ item.disposal_material_weight}}<br />
            {{ item.disposal_date_time|date:'dd-MM-yyyy' }}
          </td>
          <td>{{ item.disposad_qty}}</td>
          <td>{{ item.vehicle_no}}</td>
          <td>{{ item.e_way_bill }}</td>
          <td>
            <select class="form-control" (change)="getbucket($event,i,item.disposal_material_weight)">
              <option value="partial" selected>Partial bucket</option>
              <!-- <option value="full">Full bucket</option> -->
            </select>
          </td>
          <td>
            <input type="number" class="form-control" value="0" (input)="checkdisposedvalue($event,item.disposal_material_weight,i,item.disposad_qty)" [disabled]="textreadonly[i]">
          </td>
        </tr>
        <tr>
          <th colspan="6"></th>
          <th>Total Quantity</th>
          <th>{{ sumqtyval }} <button class="btn btn-success" [disabled]='activeAllotment' (click)="allotment()">Alloted</button></th>
        </tr>
      </tbody>
    </table>
    </div>
  </div>