table.dataTable thead .sorting:after, table.dataTable thead .sorting_asc:after, table.dataTable thead .sorting_desc:after, table.dataTable thead .sorting_asc_disabled:after, table.dataTable thead .sorting_desc_disabled:after {
    bottom: 8px !important;
    right: 8px;
}
.t-div{
    margin-top:2%;
    margin-bottom:3%;
}
.t-div1{
    padding: 0px;
    margin: 0px;
    border-top:1px solid gray;
    border-bottom:1px solid gray;
    border-left:1px solid gray;
    border-right:none;
}
.t-div2{
    padding: 0px;
    margin: 0px;
    border:1px solid gray ;
}