<app-header></app-header>
<app-sidenav></app-sidenav>

<div id="content" class="app-content" role="main">
  <form [formGroup]="ulbform" role="form" (ngSubmit)="onFormSubmit()">
    <div class="app-content-body ">
      <div class=" b-b-none wrapper-md main">
        <div class="row">
          <div class="col-sm-6 col-xs-12">
            <h4 class="m-n font-bold ">Edit ULB</h4>
          </div>
          <div class="col-sm-6 text-right poppins hidden-xs">
            <button type="button" class=" bt light" (click)="handleWarningAlert()">Cancel</button>
            <button type="submit" class=" bt danger" [disabled]="isValidbutton" (click)="saveform('save')">Save</button>
           
          </div>
        </div>
      </div>
      <div class="wrapper-md">

        <div class="row">
          <div class="col-sm-12">
            <div class="panel panel-default">
              <div class=" panel-heading font-bold ">ULB Information </div>
              <div class="panel-body">

                <div class="col-md-4 form-group">
                  <label> ULB ID  <span class="text-theme">*</span></label>
                  <input type="text" class="form-control" formControlName="ulb_id" value="{{this.ulbid}}" readonly>
                </div>

                <div class="col-md-4 form-group">
                  <label>ULB Name  <span class="text-theme">*</span></label>
                  <input type="text" class="form-control" value="{{this.ulbname}}"  placeholder="Enter ULB Name" formControlName="ulb_name" (input)="getulbname($event)">
                  <div *ngIf="f.ulb_name.errors && f.ulb_name.errors.required && isValidFormSubmitted"
                    class="text-danger text-left mb-1 errorcontrols">
                    <div *ngIf="f.ulb_name.errors.required"><small>ULB Name is required.</small></div>
                  </div>
                </div>



                <div class="col-md-4 form-group">
                  <label>GSTIN </label>
                  <input type="text" class="form-control " placeholder="Enter GSTIN" formControlName="gstin">
                  <div *ngIf="f.gstin.touched && f.gstin.invalid && isValidFormSubmitted"
                    class="text-danger text-left mb-1 errorcontrols">
                    <div *ngIf="f.gstin.invalid"><small>Invalid GSTIN.</small></div>
                  </div>
                  
                </div>
                <div class="clearfix"></div>

              </div>
            </div>
          </div>
        </div>


        <!-- start  -->
        <div class="row">
          <div class="col-sm-12">
            <div class="panel panel-default">
              <div class=" panel-heading  font-bold">Address Information </div>

              <div class="panel-body">
                <div class="col-md-6 form-group">
                  <label>State  <span class="text-theme">*</span></label>
                  <select formControlName="state" id="" class="form-control" (change)="getdistrict($event)">
                    <option value="" disabled> Select State </option>
                    <option *ngFor="let obj of statedata" value={{obj}}> {{obj}} </option>
                  </select>
                  <div *ngIf="f.state.errors && f.state.errors.required && isValidFormSubmitted"
                    class="text-danger text-left mb-1 errorcontrols">
                    <div *ngIf="f.state.errors.required"><small>State is required.</small></div>
                  </div>

                </div>
                <div class="col-md-6 form-group">
                  <label>City  <span class="text-theme">*</span></label>
                  <select class="form-control" formControlName="city">
                    <option value="" disabled> Select District </option>
                    <option *ngFor="let dobj of districtdata" value={{dobj}}> {{dobj}} </option>
                  </select>
                  <div *ngIf="f.city.errors && f.city.errors.required && isValidFormSubmitted"
                    class="text-danger text-left mb-1 errorcontrols">
                    <div *ngIf="f.city.errors.required"><small>City is required.</small></div>
                  </div>
                </div>
                <div class="clearfix"></div>
                <div class="col-md-12 form-group">
                  <label>Address</label>
                  <textarea class="form-control" placeholder="" formControlName="address"></textarea>

                </div>
                <div class="col-md-6 form-group">
                  <label>Latitude</label>
                  <input type="text" class="form-control " placeholder="" formControlName="latitude">
                </div>
                <div class="col-md-6 form-group">
                  <label>Longitude</label>
                  <input type="text" class="form-control " placeholder="" formControlName="longitude">
                </div>


                <div class="clearfix"></div>
              </div>
            </div>
          </div>
        </div>
        <!-- end -->


        <!-- start  -->
        <div class="row">
          <div class="col-sm-12">
            <div class="panel panel-default">
              <div class=" panel-heading  font-bold">Contact Information </div>

              <div class="panel-body">

                <div class="col-md-4 form-group">
                  <label>First Name </label>
                  <div class="input-group">
                    <span class="input-group-addon">
                      <select class="box-dropdown" formControlName="title">
                        <option value="">Title</option>
                        <option value="Mr.">Mr</option>
                        <option value="Mrs.">Mrs</option>
                        <option value="Miss.">Miss</option>
                      </select>

                    </span>
                    <input type="text" class="form-control" placeholder="Enter First  Name"
                      formControlName="first_name">
                  </div>
                </div>

                <div class="col-md-4 form-group">
                  <label>Last Name</label>
                  <input type="text" class="form-control " placeholder="" placeholder="Enter Last Name"
                    formControlName="last_name">
                </div>

                <div class="col-md-4 form-group">
                  <label>Phone</label>
                  <div class="input-group">
                    <span class="input-group-addon">+91</span>
                    <input type="text" class="form-control" placeholder="Enter Phone Number" formControlName="phone">
                  </div>
                </div>
                <div class="clearfix"></div>
                <div class="col-md-4 form-group">
                  <label>Mobile </label>
                  <div class="input-group">
                    <span class="input-group-addon">+91</span>
                    <input type="text" class="form-control" placeholder="Enter Mobile Number" formControlName="mobile">
                   
                  </div>
                  <div *ngIf="f.mobile.touched && f.mobile.invalid && isValidFormSubmitted"
                  class="text-danger text-left mb-1 errorcontrols">
                  <div *ngIf="f.mobile.invalid"><small>Invalid Mobile.</small></div>
                </div>
                </div>


                <div class="col-md-4 form-group">
                  <label>Email </label>
                  <input type="text" class="form-control" placeholder="Enter Email" formControlName="email">
                  <div *ngIf="f.email.touched && f.email.invalid && isValidFormSubmitted"
                    class="text-danger text-left mb-1 errorcontrols">
                    <div *ngIf="f.email.invalid"><small>Invalid Email.</small></div>
                  </div>
                </div>



                <div class="col-md-4 form-group">
                  <label>Secondary E-Mail</label>
                  <input type="text" class="form-control" placeholder="Enter Secondary E-Mail"
                    formControlName="secondary_email">
                    <div *ngIf="f.secondary_email.touched && f.secondary_email.invalid && isValidFormSubmitted"
                    class="text-danger text-left mb-1 errorcontrols">
                    <div *ngIf="f.secondary_email.invalid"><small>Invalid Email.</small></div>
                  </div>
                </div>

                <div class="clearfix"></div>
              </div>
            </div>
          </div>
        </div>
        <!-- end -->


        <!-- start  -->
        <div class="row">
          <div class="col-sm-12">
            <div class="panel panel-default">

              <div class="panel-body">
                <div class="col-md-12" style="padding: 0px;margin:0px;">

                  <div class="row">
                    <div class="col-sm-6 col-xs-12">
                      <b class="upper-heding"> Attachment</b>
                    </div>
                    <div class="col-sm-6 text-right poppins hidden-xs">

                      <b data-toggle="modal" data-target="#exampleModalCenter" style="cursor: pointer;"
                        class="upper-heding"> Attach <i class="fa fa-paperclip upper-heding" aria-hidden="true"></i></b>

                    </div>
                  </div>




                </div>
                <br>
                <br>
                <div class="row">
                  <div class="col-md-12" style="padding:0px;">
                    <table class="table">
                    <thead>
                      <tr style="background:#E4F6EA; ">
                        <th>Document Type</th>
                        <th>Document No</th>
                        <th>File Name (File Size)</th>
                        <th>Validity</th>
                        <th>Action</th>
                    
                      </tr>
                      <tr *ngFor="let attachmentrow of ulbattachments;index as i
                      ">
                        <th>{{attachmentrow.document_type}}</th>
                        <th>{{attachmentrow.document_no}} </th>
                        <th><a href="{{attachmentrow.image}}" target="_blank"><i class="fa fa-file" aria-hidden="true"></i> File</a></th>
                        <th>{{attachmentrow.validity}}</th>
                        <th>
                          <i class="fa fa-trash" aria-hidden="true" (click)="deleteAttachment(i)"></i>
                        </th>
                      </tr>
                    </thead>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- end -->


        <!-- start  -->
        <div class="row">
          <div class="col-sm-12">
            <div class="panel panel-default">
              <div class=" panel-heading  font-bold">Information </div>

              <div class="panel-body">
                <div class="col-md-6 form-group">
                  <label>Monthly Qty MLP </label>
                  <input type="text" class="form-control" formControlName="monthly_oty_mlp">
                </div>
                <div class="col-md-6 form-group">
                  <label>Population</label>
                  <input type="text" class="form-control " placeholder="" formControlName="population">
                </div>

                <div class="clearfix"></div>
              </div>
            </div>
          </div>
        </div>
        <!-- end -->

        <!-- start  -->
        <div class="row">
          <div class="col-sm-12">
            <div class="panel panel-default">
              <div class=" panel-heading  font-bold">Remark </div>

              <div class="panel-body">
                <div class="col-md-12 form-group">

                  <input type="text" class="form-control" formControlName="remark" placeholder="Enter Remark">
                </div>


                <div class="clearfix"></div>
              </div>
            </div>
          </div>
        </div>
        <!-- end -->



        <div style="text-align: right; margin:10px 0px;">
          <button type="button" class=" bt light" (click)="handleWarningAlert()">Cancel</button>
          <button type="submit" class=" bt danger" [disabled]="isValidbutton" (click)="saveform('save')">Save</button>
          <!-- <button type="submit" class=" bt dark" [disabled]="isValidbutton" (click)="saveasnewform('savenew')">Save &
            New</button> -->
        </div>
      </div>
    </div>
  </form>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document" style="width: 30%;">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle" style="padding-top: 1%;color:black;">
          Attached Document</h5>
      </div>
      <form [formGroup]="ulbModalform" role="form" (ngSubmit)="onModalFormSubmit()">
        <div class="modal-body">

          <div class="form-group">
            <label for="exampleInputEmail1">Document Type</label>

            <select class="form-control" formControlName="document_type">
              <option value="PO">PO</option>
              <option value="Agreement">Agreement</option>
              <option value="MOU">MOU</option>
              <option value="Work Order">Work Order</option>
            </select>
            <div *ngIf="fm.document_type.errors && fm.document_type.errors.required && isValidFormSubmittedModal"
              class="text-danger text-left mb-1 errorcontrols">
              <div *ngIf="fm.document_type.errors.required"><small>document type is required.</small></div>
            </div>
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Document No</label>
            <input type="text" class="form-control" placeholder="Enter Document No" formControlName="document_no">
            <div *ngIf="fm.document_no.errors && fm.document_no.errors.required && isValidFormSubmittedModal"
              class="text-danger text-left mb-1 errorcontrols">
              <div *ngIf="fm.document_no.errors.required"><small>document no is required.</small></div>
            </div>
          </div>

          <div class="form-group">
            <label for="exampleInputPassword1">File Name</label>
            <input type="file" class="form-control" formControlName="image" (change)="fileupload($event)">
            <div *ngIf="fm.image.errors && fm.image.errors.required && isValidFormSubmittedModal"
              class="text-danger text-left mb-1 errorcontrols">
              <div *ngIf="fm.image.errors.required"><small>file is required.</small></div>
            </div>
          </div>

          <div class="form-group">
            <label for="exampleInputPassword1">Validity</label>
            <input type="date" class="form-control" formControlName="validity">
            <div *ngIf="fm.validity.errors && fm.validity.errors.required && isValidFormSubmittedModal"
              class="text-danger text-left mb-1 errorcontrols">
              <div *ngIf="fm.validity.errors.required"><small>validity is required.</small></div>
            </div>
          </div>

        </div>
        <div class="modal-footer">

          <button type="cancel" class=" bt light upbt" data-dismiss="modal" #closebutton >Cancel</button>
          <button type="submit" class=" bt danger upbt" [disabled]="isValidbuttonModal">Save</button>
        </div>
      </form>

    </div>
  </div>
</div>
<!-- mode end -->
