<app-header></app-header>
<app-sidenav></app-sidenav>
<div id="content" class="app-content" role="main">
    <div class="app-content-body ">
      <!-- <div class=" b-b-none wrapper-md main">
        <div class="row">
          <div class="col-sm-6 col-xs-12">
            <h4 class="m-n font-bold ">Customer</h4>
          </div>
        </div>
      </div> -->
        <div class="wrapper-md">
            <div class="row">
           <div class="col-sm-12">
            <div class="col-sm-3">
                <div class="card" >
                    <a routerLink="/certificate-disposal">
                        <img src="../../assets/img/logo.PNG" class="card-img-top" alt="..."style="width:55%;margin:4% 0px;">
                        <div class="card-body">
                          <p class="card-text">Disposal</p>
                        </div>
                    </a>
                   
                  </div>
</div>

<div class="col-sm-3">
    <div class="card" >
        <a routerLink="/certificate-collection-disposal">
            <img src="../../assets/img/logo.PNG" class="card-img-top" alt="..."style="width:55%;margin:4% 0px;">
            <div class="card-body">
              <p class="card-text">Collection Disposal</p>
            </div>
        </a>
       
      </div>
</div>

<div class="col-sm-3">
    <div class="card" >
        <a routerLink="/certificate-diversion">
            <img src="../../assets/img/logo.PNG" class="card-img-top" alt="..."style="width:55%;margin:4% 0px;">
        <div class="card-body">
          <p class="card-text">Diversion</p>
        </div>
        </a>
        
      </div>
</div>
                </div>

            </div>
        </div>
    </div>
</div>