<app-header></app-header>
<app-sidenav></app-sidenav>
<div id="content" class="app-content" role="main">
    <div class="app-content-body ">
      <div class="bg-white b-b-none wrapper-md main">
        <div class="row">
          <div class="col-sm-6 ">
            <h4 class="m-n font-bold ">Order/PO List</h4>
          </div>
          <div class="col-sm-6 text-right poppins hidden-xs">
            <button *ngIf="this.userPermission.orderedit"  routerLink="/order" class="button"><i
              class="fa fa-plus"></i> Add Order/PO</button>
          </div>
        </div>
      </div>
<div class="col-sm-12"style="margin-top: 1%;margin-bottom: 1%;">
 
  <div class="col-sm-3" style="padding: 0px;margin: 0px;">
    <b>Serach by Organization</b>
    <select class="form-control" name="serach" [(ngModel)]="searchTextor">
     <!-- <option selected disabled  >Serach by Organization</option> -->
     <option *ngFor="let objcus of Customers" value={{objcus._id}} >{{objcus.organization_name}}  </option>
     
      <!-- <option>Serach by Organization </option>
     <option></option>  -->
    
    </select> 
    
   </div>
<div class="col-sm-6"></div>
<!-- <div class="col-sm-3" style="padding: 0px;margin: 0px;">
  <input type="text" class="form-control" placeholder="Search " name="serach" [(ngModel)]="searchText">
  </div> -->

</div>
  <table datatable class="table table-striped">
  <thead>
    <tr>
      <th style="width:108px">PO Info</th>
      <th style="width:170px">Customer Info</th>
      <th>States</th>
      <th style="width:88px">MLP</th>
      <th style="width:88px">Non MLP</th>
      <th style="width:88px">Rigid</th>
      <th style="width:88px">Flexible</th>
      <th style="width:88px">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let pod of podata | filter:searchTextor |filter:searchText">
      <td>
        <span class=" text-theme"># {{ pod.PO_id }}</span><br>
        <span class="poDateClass"><i _ngcontent-fcn-c561="" aria-hidden="true" class="fa fa-calendar-check-o" style="color: green;"></i> {{ pod.created_at|date: 'dd-MM-yyyy' }}</span>
      </td>
      <td>
        Industry : {{ pod.customer_data[0]?.industry_type }}<br>
        Organization :  {{ pod.customer_data[0]?.organization_name }}
      </td>
      <td>
        <span class="badge badge-warning" *ngFor="let pomat of pod.materials" title="{{ pomat.material_name }}">{{ pomat.state }}</span>
      </td>
      <td class="rocket">
        <span *ngFor="let rec of pod.record" >
          <span style="font-weight: 800;font-size:18px;display:block;" *ngIf="rec.material=='MLP'" (click)="getAllotment(pod._id,'MLP',(rec.material=='MLP'?convertintonumber(rec.qty):''))">{{ rec.material=='MLP'?convertintonumber(rec.qty):'' }}<i class="fa fa-info-circle" style="font-weight: 100;color: #848282;font-size: 1rem;vertical-align: super;margin-left: .2rem;font-style: italic; "></i></span>
          <span style="color:green" *ngIf="rec.material=='MLP'">{{ rec.material=='MLP'?(rec.achieved+' | '):'' }}</span>
          <span style="color:maroon" *ngIf="rec.material=='MLP'">{{ (rec.material=='MLP'?((rec.qty)-(rec.achieved)):'') }}</span>
          </span>
      </td>
      <td  class="rocket">
        <span *ngFor="let rec of pod.record">
          <span style="font-weight: 800;font-size:18px;display:block;" *ngIf="rec.material=='Non MLP'" (click)="getAllotment(pod._id,'Non MLP',(rec.material=='Non MLP'?convertintonumber(rec.qty):''))">{{ rec.material=='Non MLP'?convertintonumber(rec.qty):'' }}<i class="fa fa-info-circle" style="font-weight: 100;color: #848282;font-size: 1rem;vertical-align: super;margin-left: .2rem;font-style: italic; "></i></span>
          <span style="color:green">{{ rec.material=='Non MLP'?(rec.achieved+' | '):'' }}</span>
          <span style="color:maroon">{{ (rec.material=='Non MLP'?((rec.qty)-(rec.achieved)):'') }}</span>
        </span>
      </td>
      <td  class="rocket">
        <span *ngFor="let rec of pod.record">
          <span style="font-weight: 800;font-size:18px;display:block;" *ngIf="rec.material=='Rigid'" (click)="getAllotment(pod._id,'Rigid',(rec.material=='Rigid'?convertintonumber(rec.qty):''))">{{ rec.material=='Rigid'?convertintonumber(rec.qty):'' }}<i class="fa fa-info-circle" style="font-weight: 100;color: #848282;font-size: 1rem;vertical-align: super;margin-left: .2rem;font-style: italic; "></i></span>
          <span style="color:green">{{ rec.material=='Rigid'?(rec.achieved+' | '):'' }}</span>
          <span style="color:maroon">{{ (rec.material=='Rigid'?((rec.qty)-(rec.achieved)):'') }}</span>
        </span>
      </td>
      <td  class="rocket">
        <span *ngFor="let rec of pod.record">
          <span style="font-weight: 800;font-size:18px;display:block;" *ngIf="rec.material=='Flexible'" (click)="getAllotment(pod._id,'Flexible',(rec.material=='Flexible'?convertintonumber(rec.qty):''))">{{ rec.material=='Flexible'?convertintonumber(rec.qty):'' }}<i class="fa fa-info-circle"
            style="font-weight: 100;color: #848282;font-size: 1rem;vertical-align: super;margin-left: .2rem;font-style: italic; "></i></span>
          <span style="color:green">{{ rec.material=='Flexible'?(rec.achieved+' | '):'' }}</span>
          <span style="color:maroon">{{ (rec.material=='Flexible'?((rec.qty)-(rec.achieved)):'') }}</span>
        </span>
      </td>


      <td  class="rocket">
        <span >
          <span style="font-weight: bold;" *ngIf="this.userPermission.orderedit" ><a    [routerLink]="['/edit-order-po',pod._id]"><i class="fa fa-edit"></i> Edit</a></span>
         
        </span>
      </td>
    </tr>

  </tbody>
</table>




</div></div>

 